<header *ngIf="wishlist">
    <h2>{{wishlist.name}}</h2>
    <p>{{wishlist.description}}</p>

    <form [formGroup]="addForm" (ngSubmit)="addWish()">
        <label>Item</label>
        <input type="text" formControlName="wishName">
        <label>price</label>
        <input type="text" formControlName="price">

        <button type="submit">Add</button>
    </form>



    <ul>
        <li *ngFor="let wish of wishlist.wishes">
            <p>{{wish.wishName}}</p>
            <p>{{wish.price}}</p>
        </li>
    </ul>



    <a>Home</a>
</header>